<p id="notice"><%= notice %></p>

<h1>Listing Applicants</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Skype</th>
      <th>Public</th>
      <th>Experience</th>
      <th>Comment</th>
      <th>Result</th>
      <th>Attach</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.name %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.phone %></td>
        <td><%= applicant.skype %></td>
        <td><%= applicant.public %></td>
        <td><%= applicant.experience %></td>
        <td><%= applicant.comment %></td>
        <td>ss<%#= applicant.result.resolution %></td>
        <td><a href="<%= applicant.attach %>">Open</a></td>
        <td><%= link_to 'Show', applicant %></td>
        <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
        <td><%= link_to 'Next', new_result_path(foo_param: "#{applicant.id}") %></td>
        <td><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant', new_applicant_path %>
